@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    Presentation Schedule View for professors, judges, and coordinators (Groups 4 & 8)
    Only the coordinator can make changes to this view. The other two user types can only view the page
    to see the coordinator-made assignments.
    The only additional functionality is for judges, who will only be able to request a change in thier assignment
    (see RequestNewTime.cshtml view).
*@


@model IEnumerable<Judge>

@foreach (var m in Model)
{
    <div class="card m-1 p-1">
        <h3>
        
            <span class="badge rounded-pill bg-primary text-white float-end"><small>@m.Id</small></span>
        </h3>
        <ul>
            <li>First: @m.ToaProUser.FirstName</li>
            <li>Last: @m.ToaProUser.LastName</li>
            <li>Affiliation: @m.Affiliation</li>

            @*     These might be different cus they are lists?  *@
           @*  <li>@m.Rankings</li>
            <li>@m.Presentations</li> *@
            @*  <@* li>Price: $@b.Price</li> *@
        </ul>
    </div>
}

