@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Grading Summary View for professors and TAs*@

@model List<GradingSummaryViewModel>

<div class="button-container" align="center">
    @foreach (GradingSummaryViewModel summary in Model)
    {
        <button data-section="@summary.Section" class="button section-button">Section @summary.Section.ToString()</button>
    }
</div>
<br />
<div style="display: flex; align-items: center;">
    <div class="search" style="margin-right: auto;">
        <input type="text" placeholder="Search">
    </div>

    <div>
        <button>Export File</button>
    </div>
</div>
<br />

<br />
@foreach (GradingSummaryViewModel summary in Model)
{
    <table id="section-@summary.Section" class="table table-bordered table-striped" style="display: none;">
        <thead>
            <tr>
                <th>Group Number</th>
                @* <th>Site URL</th> *@
                <th>Percent Graded</th>
                @foreach (string className in summary.GroupGrades.FirstOrDefault().ClassGrades.Keys)
                {
                    <th>@className</th>
                }
                <th>Presentation Score</th>
                <th>Peer Evaluations</th>
                <th>Score w/out Adjustments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GroupGradesViewModel groupGrades in summary.GroupGrades)
            {
                <tr class="clickable" data-url="@Url.Action("GradeSubmission", "Grading", new { groupId = groupGrades.Group.Id })">
                    <td>@(groupGrades.Group.Section)-@(groupGrades.Group.Number)</td>
                    <td>@groupGrades.PercentGraded</td>
                    @foreach (double points in groupGrades.ClassGrades.Values)
                    {
                        <td>@points</td>
                    }
                    <td>@groupGrades.PresentationScore</td>
                    <td>N/A</td>
                    <td>@groupGrades.TotalScore</td>
                </tr>
            }
        </tbody>
    </table>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('table tbody tr').click(function() {
            window.location = $(this).data('url');
        });

        $('table').first().show();

        $('.section-button').click(function () {
            const sectionNum = $(this).data('section');
            $('table').hide();
            $(`#section-${sectionNum}`).show();
        });
    });
</script>
