@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Grading Summary View for professors and TAs (Groups 1, 10, & 12)*@

@model IEnumerable<GradingSummaryViewModel>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<vc:nav-bar-types user="Professor"></vc:nav-bar-types>
<vc:submenu-types view="Grading"></vc:submenu-types>
<vc:header-types title="GradingSummaryPage" />

<div class="container">

<div class="button-container" align="center">
    <button>Section 1</button>
    <button>Section 2</button>
    <button>Section 3</button>
    <button>Section 4</button>
</div>
<br />
<div style="display: flex; align-items: center;">
    <div class="search" style="margin-right: auto;">
        <input type="text" placeholder="Search">
    </div>

    <div>
        <button>Export File</button>
    </div>
</div>
<br />

<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Group Number</th>
            <th>Site URL</th>
            <th>Percent Graded</th>
            <th>401</th>
            <th>413</th>
            <th>414</th>
            <th>455</th>
            <th>Presentation Score</th>
            <th>Score w/out Adjustments</th>
            <th>Peer Evaluations</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.Group.Number</td>
                <td>@row.Submission.GithubLink</td>
                @* <td>@row.PercentGraded</td> *@
                <td>@row.Grade.Points</td>
@*                 <td>@row.ClassId</td>
                <td>@row.ClassId</td>
                <td>@row.ClassId</td>
                <td>@row.PresentationScore</td>
                <td>@row.ScoreNoAdjustments</td>
                <td>@row.PeerEval</td> *@
                <td>
                    <div class="btn-group" role="group">
@*                         <a class="btn btn-info btn-light-blue" asp-controller="Home" asp-action="Edit" asp-route-id="@row.GroupId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@row.GroupId">Delete</a> *@
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>