@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Create and Edit Rubric View. The TAs can view and the Professors can add and edit items (Groups 3 & 6)*@



<div style="width: 80px; height: 27px; left: 1033px; top: 97px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Rubric" asp-action="Rubric">Rubric</a></div>
<div style="width: 80px; height: 27px; left: 1101px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Grading" asp-action="GradingPage">Grade</a></div>
<div style="width: 80px; height: 27px; left: 948px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Grading" asp-action="GradingSummaryPage">Dashboard</a></div>
<div style="width: 121px; height: 27px; left: 1176px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Rubric" asp-action="AssignTAs">TA Assignments</a></div>
<div style="width: 91px; height: 27px; left: 1311px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Grading" asp-action="ProfessorNormalizeGrades">Normalization</a></div>
<div style="width: 59px; height: 27px; left: 1123px; top: 34px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Grading</div>
<div style="width: 80px; height: 27px; left: 1212px; top: 34px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Presentation</div>
<div style="width: 80px; height: 27px; left: 1321px; top: 34px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Permissions</div>

@model ToaPro.Models.ViewModels.RequirementViewModel

<h1 style="text-align:center">Rubric</h1>

<!--Table to display movies-->

<h2>401 Project Management</h2>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Points</th>
            <th>Objectives</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Class1Requirements)
        {
            <tr>
                <td>@x.Points</td>
                <td>@x.Description</td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Low(0-30)</th>
            <th>Medium(40-70)</th>
            <th>High (80-100)</th>
        </tr>
    </thead>
    <tbody>
    <td>Lorem Ipsum</td>
    <td>Lorem Ipsum</td>
    <td>Lorem Ipsum</td>
    </tbody>
</table>


<div class="card m-1 p-1">
    <h2 style="text-align:center">413 Enterprise Application Development</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark bg-dark text-white">
            <tr>
                <th>Points</th>
                <th>Objectives</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Class2Requirements)
            {
                <tr>
                    <td>@x.Points</td>
                    <td>@x.Description</td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Rubric" asp-action="Rubric" method="post">
        <button type="submit" name="id" value="2" style="width: 150px;">Add Objective</button>
    </form>
    <br />
    <br />


    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark bg-dark text-white">
            <tr>
                <th>Low(0-30)</th>
                <th>Medium(40-70)</th>
                <th>High (80-100)</th>
            </tr>
        </thead>
        <tbody>
        <td>Lorem Ipsum</td>
        <td>Lorem Ipsum</td>
        <td>Lorem Ipsum</td>
        </tbody>
    </table>
</div>


<div class="card m-1 p-1">
    <h2 style="text-align:center">414 Security</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark bg-dark text-white">
            <tr>
                <th>Points</th>
                <th>Objectives</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Class3Requirements)
            {
                <tr>
                    <td>@x.Points</td>
                    <td>@x.Description</td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Rubric" asp-action="Rubric" method="post">
        <button type="submit" name="id" value="3" style="width: 150px;">Add Objective</button>
    </form>
    <br />
    <br />


    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark bg-dark text-white">
            <tr>
                <th>Low(0-30)</th>
                <th>Medium(40-70)</th>
                <th>High (80-100)</th>
            </tr>
        </thead>
        <tbody>
        <td>Lorem Ipsum</td>
        <td>Lorem Ipsum</td>
        <td>Lorem Ipsum</td>
        </tbody>
    </table>
</div>



<div class="card m-1 p-1">
    <h2 style="text-align:center">455 Machine Learning</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark bg-dark text-white">
            <tr>
                <th>Points</th>
                <th>Objectives</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Class4Requirements)
            {
                <tr>
                    <td>@x.Points</td>
                    <td>@x.Description</td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Rubric" asp-action="Rubric" method="post">
        <button type="submit" name="id" value="4" style="width: 150px;">Add Objective</button>
    </form>
    <br />
    <br />

    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark bg-dark text-white">
            <tr>
                <th>Low(0-30)</th>
                <th>Medium(40-70)</th>
                <th>High (80-100)</th>
            </tr>
        </thead>
        <tbody>
        <td>Lorem Ipsum</td>
        <td>Lorem Ipsum</td>
        <td>Lorem Ipsum</td>
        </tbody>
    </table>
</div>

