@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SubmissionFieldsViewModel

<style>
    .new-field {
        background-color: #bcf5bc !important;
    }

    #submission-field-table-foot {
        display: none;
    }
</style>

<vc:header-types title="Submission Entries@(Model.TermYear)" />
<br/>
<div class="row">
    <form method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Prompt</th>
                <th>Type</th>
                <th>Due Date</th>
                <th>Default</th>
                <th># Of Submissions</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="submission-field-table-body">
            @for (int i = 0; i < Model.SubmissionFields.Count; i++)
            {
                <tr>
                    <td>@Model.SubmissionFields[i].Prompt</td>
                    <td>@Model.SubmissionFields[i].DataType</td>
                    <td>@Model.SubmissionFields[i].DueDate</td>
                    <td>@Model.SubmissionFields[i].IsDefault</td>
                    <td>@(i < Model.SubmissionFieldFrequencies.Count ? Model.SubmissionFieldFrequencies[i] : 0)</td>
                    <td>
                        <button type="button" class="button-circle"> @* Edit SubmissionEntry button *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="button-circle background-danger-red"> @* Delete SubmissionEntry button *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot id="submission-field-table-foot">
                <tr>
                    <td colspan="5">
                        <button type="submit" class="button">Save Changes</button>
                        <button type="button" id="cancel-changes-button" class="ghostButton">Cancel</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-3">
        <button id="add-entry-button" class="btn btn-success rounded-pill">Add New Entry</button>
    </div>
    <div class="col"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var numNewFields = 0;
    
    function updateNumNewFields(increment) {
        numNewFields += increment;
        if (numNewFields <= 0) {
            numNewFields = 0;

            return false;
        } else if (numNewFields - increment <= 0) {
            return true;
        }

        return true;
    }

    function removeNewField(rowNumber) {
        $(`#new-field-${rowNumber}`).remove();
    }

    $(document).ready(function () {
        let rowIndex = @Model.SubmissionFields.Count();

        $('#add-entry-button').on('click', function () {
            const newRow = `
                <tr id="new-field-${rowIndex}" class="new-field">
                    <td><input type="text" name="SubmissionFields[${rowIndex}].Prompt" class="form-control" /></td>
                    <td>
                        <select name="SubmissionFields[${rowIndex}].DataType" class="form-control">
                            <option value="Text">Text</option>
                            <option value="URL">URL</option>
                            <option value="Description">Description</option>
                            <option value="Image">Image</option>
                        </select>
                    </td>
                    <td><input type="datetime-local" name="SubmissionFields[${rowIndex}].DueDate" class="form-control" /></td>
                    <td><input type="checkbox" name="SubmissionFields[${rowIndex}].IsDefault" value="true" /></td>
                    <td>N/A</td>
                    <td colspan="2">
                        <button onclick="removeNewField(${rowIndex})" type="button" class="button background-danger-red"> 
                            Cancel
                        </button>
                    </td>
                </tr>
            `;
            $('#submission-field-table-body').append(newRow);
            rowIndex++;

            const shouldShowFooter = updateNumNewFields(1);
            if (shouldShowFooter) {
                $('#submission-field-table-foot').show();
            } else {
                $('#submission-field-table-foot').hide();
            }
        });

        $('#cancel-changes-button').on('click', function () {
            $('.new-field').remove();
            numNewFields = 0;
            rowIndex = @Model.SubmissionFields.Count();
            $('#submission-field-table-foot').hide();
        });


        $('#add-row-button').click(function () {
        });

    });
</script>
