@using ToaPro.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Student Submits Files View (Groups 9 & 11)*@
@*Group 11*@
@model List<GroupSubmissionViewModel>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<vc:submenu-types view="Default"></vc:submenu-types>
<vc:header-types title="Submission" />

<div class="container">
    <body>
        <div class="container center" style="margin-left: auto; margin-right: auto;">
            <br />
            <br />
            <h3 class="text-center bold-text">Please include the following in your submission:</h3>
            <div class="submission-form" style="margin-left: 20%; margin-right: auto; width: 80%;">
                <form method="post" enctype="multipart/form-data" asp-controller="StudentSubmissions" asp-action="GroupSubmitAnswers"> @*onsubmit="setCreatedDate()"*@
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input asp-for="@Model[i].SubmissionAnswer.SubmissionFieldId" hidden />
                        <input asp-for="@Model[i].SubmissionAnswer.Id" hidden />
                        <input asp-for="@Model[i].SubmissionAnswer.GroupId" hidden />
                        @if (Model[i].SubmissionAnswer.SubmissionField.DataType == SubmissionInputType.ShortText
                           || Model[i].SubmissionAnswer.SubmissionField.DataType == SubmissionInputType.Link)
                        {   
                            <label asp-for="@Model[i].SubmissionAnswer.TextData">@Model[i].SubmissionAnswer.SubmissionField.Prompt</label>
                            <input asp-for="@Model[i].SubmissionAnswer.TextData" />
                        } else if (Model[i].SubmissionAnswer.SubmissionField.DataType == SubmissionInputType.Description)
                        {
                            <label asp-for="@Model[i].SubmissionAnswer.TextData">@Model[i].SubmissionAnswer.SubmissionField.Prompt</label>
                            <textarea asp-for="@Model[i].SubmissionAnswer.TextData" rows="5" cols="60">@Model[i].SubmissionAnswer.TextData</textarea>
                        } else
                        {
                            @* Assume it's a file upload *@
                            <label asp-for="@Model[i].UploadFile">@Model[i].SubmissionAnswer.SubmissionField.Prompt</label>
                            <input asp-for="@Model[i].UploadFile"/>
                            <span asp-validation-for="@Model[i].UploadFile"></span>
                        }
                    }
                    <br />
                    <div style="text-align: center; margin-left: -25%">
                        <button type="submit" class="button">Submit</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>

    </body>
</div>

<script>
    function setCreatedDate() {
        // Get the current date and time
        var currentDate = new Date();

        // Format the date as required (e.g., yyyy-mm-ddThh:mm:ss)
        var formattedDate = currentDate.toISOString();

        // Set the value of the hidden input field to the formatted date
        document.getElementById("CreatedDate").value = formattedDate;
    }
</script>
