@using ToaPro.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Student Submits Files View (Groups 9 & 11)*@
@*Group 11*@
@model List<GroupSubmissionViewModel>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<vc:submenu-types view="Default"></vc:submenu-types>
<vc:header-types title="Submission" />

<div class="container">
    <body>
        <div class="container center" style="margin-left: auto; margin-right: auto;">
            <br />
            <br />
            <h3 class="text-center bold-text">Please include the following in your submission:</h3>
            <div class="submission-form" style="margin-left: 20%; margin-right: auto; width: 80%;">
                <form method="post" enctype="multipart/form-data" asp-controller="StudentSubmissions" asp-action="GroupSubmitAnswers"> @*onsubmit="setCreatedDate()"*@
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input asp-for="@Model[i].SubmissionAnswer.SubmissionFieldId" hidden />
                        <input asp-for="@Model[i].SubmissionAnswer.Id" hidden />
                        <input asp-for="@Model[i].SubmissionAnswer.GroupId" hidden />
                        @if (Model[i].SubmissionAnswer.SubmissionField.DataType == SubmissionInputType.ShortText
                           || Model[i].SubmissionAnswer.SubmissionField.DataType == SubmissionInputType.Link)
                        {   
                            <label asp-for="@Model[i].SubmissionAnswer.TextData">@Model[i].SubmissionAnswer.SubmissionField.Prompt</label>
                            <input asp-for="@Model[i].SubmissionAnswer.TextData" />
                        } else if (Model[i].SubmissionAnswer.SubmissionField.DataType == SubmissionInputType.Description)
                        {
                            <label asp-for="@Model[i].SubmissionAnswer.TextData">@Model[i].SubmissionAnswer.SubmissionField.Prompt</label>
                            <textarea asp-for="@Model[i].SubmissionAnswer.TextData" rows="5" cols="60">@Model[i].SubmissionAnswer.TextData</textarea>
                        } else
                        {
                            @* Assume it's a file upload *@
                            <label asp-for="@Model[i].UploadFile">@Model[i].SubmissionAnswer.SubmissionField.Prompt</label>
                            <input asp-for="@Model[i].UploadFile"/>
                        }
                    }

@*                     <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="StudentId"/>
                    <input type="hidden" asp-for="GroupId"/>
                    <input id="CreatedDate" asp-for="CreatedDate" hidden/> <!--Created down below when submitted-->

                    <br />
                    <br />
                    <!--Getting links & files for submission-->
                    <label asp-for="GithubLink" class="bold-text">GitHub Link:</label>
                    <p>Make sure your repository is public.</p>
                    <input type="text" id="GithubLink" asp-for="GithubLink" style="width: 80%;">
                    <br />
                    <br />
                    <label asp-for="YoutubeLink" class="bold-text">YouTube Link:</label>
                    <p>Explain how your project fulfills the rubric requirements  in 10 minutes or less. Showcase any extra features you’ve added.</p>
                    <input type="text" id="YoutubeLink" asp-for="YoutubeLink" style="width: 80%;">
                    <br />
                    <br />
                    <label asp-for="UploadFile" class="bold-text">Upload Files:</label>
                    <p>
                        Include: readme file, data analysis, presentation, ERD, and normalization files <br>
                        Readme file requirements: website link with username and password
                    </p>
                    <input type="file" id="UploadFile" asp-for="UploadFile" directory webkitdirectory mozdirectory style="width: 250px;">
                    <br />
                    <!--Error Messages-->
                    <span asp-validation-for="GithubLink" class="text-danger"></span><br />
                    <span asp-validation-for="YoutubeLink" class="text-danger"></span><br />
                    <span asp-validation-for="UploadFile" class="text-danger"></span>
                    *@
                     @* Trying to test form submission:
                    <span asp-validation-for="Id" class="text-danger"></span>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    <span asp-validation-for="Grades" class="text-danger"></span>
                    <span asp-validation-for="Group" class="text-danger"></span>
                    <span asp-validation-for="Student" class="text-danger"></span> *@
                    <br />
                    <div style="text-align: center; margin-left: -25%">
                        <button type="submit" class="button">Submit</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>

    </body>
</div>

<script>
    function setCreatedDate() {
        // Get the current date and time
        var currentDate = new Date();

        // Format the date as required (e.g., yyyy-mm-ddThh:mm:ss)
        var formattedDate = currentDate.toISOString();

        // Set the value of the hidden input field to the formatted date
        document.getElementById("CreatedDate").value = formattedDate;
    }
</script>
